html, body {
    padding: 0;
    margin: 0;
    font-family: Ubuntu-Light, serif
}

body {
    background: #000
}

.header {
    width: 100%;
    display: flex;
    background-color: var(--Header_BG-color-2);
}


.logo {
    background: url("./assets/Logo.png") no-repeat center center;
    background-size: contain;
    width: 120px;
    height: 100px;
}

.nice_logo {
    background: url("./assets/Logo.png") no-repeat center center;
    background-size: contain;
    width: 500px;
    height: 500px;
}


.menu {
    display: flex;
    align-items: center;
    padding-right: 60px;
}

.flex-1 {
    flex: 1;
}

.Menu_section a {
    display: block;
    text-decoration: none;
    font-family: Ubuntu-Medium, serif;
    font-size: var(--Font-size);
    color: var(--Azur-color);
    padding: 10px 30px;
    box-sizing: border-box;
    cursor: pointer;
}

a {
    text-decoration: none;
}


.Menu_section a:hover {
    color: var(--Orange-color);
}

.Menu_section .active {
    color: var(--Orange-color);
}

.mission {
    height: 1010px;
    background: url("assets/heroes.png") no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid var(--BG-color);
    padding: 1rem 4rem;
}

.mission_1 {
    width: 100%;
    height: 910px;
    background: url("assets/about.png") no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--BG-color);
    animation-name: current-anim-name;
    animation-duration: 2s;
}

@keyframes current-anim-name {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

.mission_block {
    color: var(--Font-color);
    font-size: var(--Font-size-text);
    background: var(--BG-color-2);
    box-shadow: var(--Box-shadow);
    border-radius: var(--Border-radius);
    box-sizing: border-box;
    width: 500px;
    padding: 2rem;
}

.mission_block:hover {
    transition: 1s all ease-in;
    margin-left: 100px;
}


.about {
    width: 100%;
    height: 888px;
    background: url("assets/neon.jpg") no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.vacancy {
    width: 100%;
    height: 888px;
    background: url("assets/about.png") no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


.jobs_vacancy {
    padding: 1rem;
    font-size: var(--Font-size-text);

}


.vacancy_home {
    width: 100%;
    height: 1010px;
    background: url("assets/books-break-coffee-927451.jpg") no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 2px solid var(--BG-color);
}


.jobs_home {
    width: 350px;
    background: var(--BG-color-2);
    border-radius: var(--Border-radius);
    box-shadow: var(--Box-shadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 4rem;
    padding: 2rem;
}

.jobs_vacancy_home {
    color: var(--Font-color);
    font-size: var(--Font-size-text);

}


button {
/*    width: 250px;*/
    width: 100%;
    height: 40px;
    font-family: Ubuntu-Regular, serif;
    font-size: var(--Font-size-text);
    border-radius: var(--Border-radius);
    background-color: var(--Azur-color);
    color: var(--White-color);
    box-shadow: var(--Box-shadow);
    border: none;
    margin-top: 2rem;
}


button:hover {
    background-color: var(--Orange-color);
}

button:active {
    background-color: var(--Orange-color);
    border: 2px solid var(--White-color);
}

button:focus {
    outline: none;
}

.h2 {
    font-size: var(--Font-size-2);
    margin: 2rem 1rem 1rem 0;
}


a {
    width: 100%;
}

.contacts {
    width: 100%;
    height: 1010px;
    background: url("assets/Mountains.jpg") no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--BG-color);
}

.contacts_background {
    background: var(--BG-color-2);
    border-radius: var(--Border-radius);
    box-shadow: var(--Box-shadow);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    width: 80%;
}

.contacts_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: var(--Font-size);
}



/*Burger*/
.mobile-menu-btn {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    outline: 0;
    position: relative;
    width: 50px;
}

.mobile-menu-btn span {
    left: 10px;
    top: 24px;
}
.mobile-menu-btn span::before {
    top: -8px;
}
.mobile-menu-btn span::after {
    bottom: -8px;
}
.mobile-menu-btn span::before, .mobile-menu-btn span::after {
    content: '';
}
.mobile-menu-btn span,
.mobile-menu-btn span::before,
.mobile-menu-btn span::after {
    display: block;
    background-color: var(--White-color);
    height: 2px;
    position: absolute;
    transition: all .3s ease-in-out;
    width: 30px;
}
.mobile-menu-btn.active span {
    background-color: transparent;
}
.mobile-menu-btn.active span::before, .mobile-menu-btn.active span::after {
    background-color: var(--White-color);
    top: 0;
}
.mobile-menu-btn.active span::before {
    transform: rotate(45deg);
}
.mobile-menu-btn.active span::after {
    transform: rotate(-45deg);
}


/*Burger*/


.footer{
    width: 100%;
    height: 100px;
    background-color: var(--Black-color);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo_mobile{
    margin: 1rem;
    background: url("./assets/Logo.png") no-repeat center center;
    background-size: contain;
    width: 100px;
    height: 80px;
}
.logo_footer{
    margin: 1rem;
    background: url("./assets/Logo.png") no-repeat center center;
    background-size: contain;
    width: 100px;
    height: 80px;
}


.footer_text{
    font-family: Ubuntu-Medium, serif;
    font-size: var(--Font-size);
    color: var(--White-color);
    margin-right: 4rem;
}

.Copyright{
    background: url("./assets/Copyright.png") no-repeat center center;
    background-size: contain;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.header_mobile{
    display: flex;
    justify-content: space-between;
}

.menu_mobile{
    display: none;
    animation-name: menu_mobile_closed;
    animation-duration: 0.5s;
}


@keyframes menu_mobile_closed {
    0% {
        margin-left: 100%;
        width: 300%;
    }

    100% {
        margin-left: 0;
        width: 100%;
    }
}

.menu_mobile-active{
    overflow: visible;
    margin-top: 1rem;
    background: var(--Black-color);
    height: 100%;
    width: 100%;
    z-index: 2;
    position: fixed;
    top: 70px;
    display: flex;
    flex-direction: column;
    animation-name: menu_mobile;
    animation-duration: 0.5s;
}

@keyframes menu_mobile {
    0% {
        margin-left: 100%;
        width: 300%;
    }

    100% {
        margin-left: 0%;
        width: 100%;
    }
}
.menu_html{
    overflow: hidden;
}


.Menu_section_mobile a {
    display: block;
    text-decoration: none;
    font-family: Ubuntu-Light, sans-serif;
    font-size: var(--Font-size);
    color: var(--White-color);
    padding: 10px 30px;
    box-sizing: border-box;
    cursor: pointer;

}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input{
    margin: 0.5rem 0.5rem 0.5rem 0;
    width: 300px;
    height: 24px;
    border: 1px solid;
    border-color: var(--Grey-light-color);
    border-radius: var(--Border-radius-input);
    padding-left: 5px;
}

input:focus{
    outline: none;
}




@media (max-width: 600px) {
    .header {
        display: none;
    }

    .window {
        display: block;
    }
}

@media (min-width: 600px) {
    .window {
        display: none;
    }
}


@media (max-width: 730px) {
    .menu {
        height: 100px;
    }
}

@media (max-width: 730px) {
    .mission_1 {
        width: 100%;
        height: 660px;
        background: url("assets/about.png") no-repeat center center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid var(--BG-color);
        animation-name: current-anim-name;
        animation-duration: 2s;
    }
}


@media (max-width: 730px) {
    .nice_logo {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 730px) {
    button {
        width: 100%;
        height: 40px;
        font-family: Ubuntu-Light, sans-serif;
        border-radius: var(--Border-radius-mobile);
    }
}

@media (max-width: 730px) {
    a {
        width: 100%;
    }
}

@media (max-width: 730px) {
    .mission {

        padding: 0.5rem 1rem;
        justify-content: center;
        height: 650px;
    }
}

@media (max-width: 500px) {
    .mission_block {
        color: var(--Font-color);
        font-size: var(--Font-size-mobile);
        background: var(--BG-color-2);
        box-shadow: var(--Box-shadow);
        border-radius: var(--Border-radius);
        box-sizing: border-box;
        width: 100%;
        padding: 2rem;
    }

}


@media (max-width: 730px) {
    .jobs_home {
        margin: 1rem;
        width: 100%;
    }
}


@media (max-width: 730px) {
    .vacancy_home {
        justify-content: center;
        height: 660px;
    }
}

@media (max-width: 730px) {
    .jobs_vacancy_home {
        font-size: var(--Font-size-mobile);
    }
}

@media (max-width: 730px) {
    .contacts{
        height: 660px;

    }
}


@media (max-width: 730px) {
    .contacts_background{
        margin: 1rem;
    }


}

@media  (max-width: 730px) {
    .footer{
        font-size: var(--Font-size-mobile);
        font-family: Ubuntu-Light, sans-serif;
    }
}

@media (max-width: 730px) {
    .h2{
        font-size: var(--Font-size);
    }
}

@media (max-width: 730px) {
    .Copyright{
        width: 16px;
        height: 16px;
    }
}

@media (max-width: 730px) {
    .footer_text {
        margin-right: 1rem;
        font-size: var(--Font-size-mobile);
    }

}

@media (max-width: 730px) {
    .footer{
        height: 60px;
    }
}





@media (max-width: 730px) {
    .logo_mobile{
        width: 60px;
        height: 60px;
    }

}
@media (min-width: 601px) {
    .mobile-menu-btn {
        display: none;
    }
}

@media (min-width: 601px) {
    .logo_mobile {
        display: none;
    }
}






@font-face {
    font-family: 'Ubuntu-Regular';
    src: url("../fonts/Ubuntu-Regular.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu-Light';
    src: url("../fonts/Ubuntu-Light.woff");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Ubuntu-Italic';
    src: url('../fonts/Ubuntu-Italic.woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu-Medium';
    src: url('../fonts/Ubuntu-Medium.woff');
    font-weight: 500;
    font-style: normal;
}
