html, body {
    padding: 0;
    margin: 0;
    font-family: Ubuntu-Light, serif
}

body {
    background: #000
}

.header {
    width: 100%;
    display: flex;
    background-color: var(--Header_BG-color-2);

}

.logo {
    background: url("./assets/Logo.png") no-repeat center center;
    background-size: contain;
    width: 120px;
    height: 100px;
}

.nice_logo {
    background: url("./assets/Logo.png") no-repeat center center;
    background-size: contain;
    width: 500px;
    height: 500px;

}



.menu {
    display: flex;
    align-items: center;
    padding-right: 60px;
}

.flex-1 {
    flex: 1;
}

.Menu_section a {
    display: block;
    text-decoration: none;
    font-family: Ubuntu-Medium, serif;
    font-size: var(--Font-size);
    color: var(--Azur-color);
    padding: 10px 30px;
    box-sizing: border-box;
    cursor: pointer;
}

a {
    text-decoration: none;
}


.Menu_section a:hover {
    color: var(--Orange-color);
}

.Menu_section .active {
    color: var(--Orange-color);
}

.mission {
    width: 100%;
    height: 1010px;
    background: url("assets/heroes.png") no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid var(--BG-color);

}

.mission_1 {
    width: 100%;
    height: 910px;
    background: url("assets/about.png") no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--BG-color);
    animation-name: current-anim-name;
    animation-duration: 2s;
/*    animation-delay: 1s;*/
}

@keyframes current-anim-name {
    0%{
        opacity: 0;
    }

    100% {opacity:100%;
    }
}

.mission_block {
    color: var(--Font-color);
    font-size: var(--Font-size-text);
    background: var(--BG-color-2);
    box-shadow: var(--Box-shadow);
    border-radius: var(--Border-radius);
    box-sizing: border-box;
    width: 500px;
    padding: 2rem;
    margin-left: 4rem;
}


.about {
    width: 100%;
    height: 888px;
    background: url("assets/AboutPage.jpg") no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.vacancy {
    width: 100%;
    height: 888px;
    background: url("assets/about.png") no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


.jobs {
    width: 60%;
    height: 600px;
    background: var(--BG-color-2);
    border-radius: var(--Border-radius);
    box-shadow: var(--Box-shadow);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 4rem;

}

.jobs_vacancy {
    padding: 1rem;
    font-size: var(--Font-size-text);

}


.vacancy_home {
    width: 100%;
    height: 1010px;
    background: url("assets/books-break-coffee-927451.jpg") no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 2px solid var(--BG-color);
}


.jobs_home {
/*  padding: 1rem;*/
    width: 30%;
    height: 400px;
    background: var(--BG-color-2);
    border-radius: var(--Border-radius);
    box-shadow: var(--Box-shadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 4rem;
}

.jobs_vacancy_home {
    color: var(--Font-color);
/*    width: 100%;*/
    margin: 2rem;
    font-size: var(--Font-size-text);

}

.button {
    width: 300px;
    height: 50px;
    border-radius: var(--Border-radius);
    background-color: var(--Azur-color);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 3rem;
}

button{
    width: 300px;
    height: 50px;
    border-radius: var(--Border-radius);
    background-color: var(--Azur-color);
    border: none;

}
.button_text {
    text-decoration: none;
    font-family: Ubuntu-Regular;
    font-size: var(--Font-size-text);
    color: var(--White-color);
}

button:hover {
    background-color: var(--Orange-color);
}

button:active {
    background-color: var(--Orange-color);
    border: 3px solid var(--Azur-color) ;
}

h2 {
    font-size: var(--Font-size-2);
    margin: 0 0 1em 0;
}

.contacts {
    width: 100%;
    height: 1010px;
    background: url("assets/Mountains.jpg") no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--BG-color);
}

.contacts_background {
    width: 80%;
    background: var(--BG-color-2);
    border-radius: var(--Border-radius);
    box-shadow: var(--Box-shadow);
    display: flex;
    flex-direction: column;
}

.contacts_info {
    margin: 2rem;
    display: inline-block;
    font-size: var(--Font-size);
}

/*
p{
    display: flex;
    flex-direction: column;
}
*/


@font-face {
    font-family: 'Ubuntu-Regular';
    src: url("../fonts/Ubuntu-Regular.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu-Light';
    src: url("../fonts/Ubuntu-Light.woff");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Ubuntu-Italic';
    src: url('../fonts/Ubuntu-Italic.woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu-Medium';
    src: url('../fonts/Ubuntu-Medium.woff');
    font-weight: 500;
    font-style: normal;
}



