html, body {
    padding: 0;
    margin: 0;
    font-family: Ubuntu-Light, serif
}

body {
    background: #000
}

.header {
    width: 100%;
    display: flex;
    background-color: var(--Header_BG-color-2);
}


.logo {
    background: url("./assets/Logo.png") no-repeat center center;
    background-size: contain;
    width: 120px;
    height: 100px;
}

.nice_logo {
    background: url("./assets/Logo.png") no-repeat center center;
    background-size: contain;
    width: 500px;
    height: 500px;
}


.menu {
    display: flex;
    align-items: center;
    padding-right: 60px;
}

.flex-1 {
    flex: 1;
}

.Menu_section a {
    display: block;
    text-decoration: none;
    font-family: Ubuntu-Medium, serif;
    font-size: var(--Font-size);
    color: var(--Azur-color);
    padding: 10px 30px;
    box-sizing: border-box;
    cursor: pointer;
}

a {
    text-decoration: none;
}


.Menu_section a:hover {
    color: var(--Orange-color);
}

.Menu_section .active {
    color: var(--Orange-color);
}

.mission {
    width: 100%;
    height: 1010px;
    background: url("assets/heroes.png") no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid var(--BG-color);
    padding: 1rem 4rem;
}

.mission_1 {
    width: 100%;
    height: 910px;
    background: url("assets/about.png") no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--BG-color);

    animation-name: current-anim-name;
    animation-duration: 2s;
}

@keyframes current-anim-name {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

.mission_block {
    color: var(--Font-color);
    font-size: var(--Font-size-text);
    background: var(--BG-color-2);
    box-shadow: var(--Box-shadow);
    border-radius: var(--Border-radius);
    box-sizing: border-box;
    width: 500px;
    padding: 2rem;
    transition: 1s all ease-in;
    transition: 2s rigth ease-in;

}

.mission_block:hover {
    transition: 1s all ease-in;
    margin-left: 100px;
}


.about {
    width: 100%;
    height: 888px;
    background: url("assets/AboutPage.jpg") no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.vacancy {
    width: 100%;
    height: 888px;
    background: url("assets/about.png") no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


.jobs {
    width: 60%;
    height: 600px;
    background: var(--BG-color-2);
    border-radius: var(--Border-radius);
    box-shadow: var(--Box-shadow);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 4rem;

}

.jobs_vacancy {
    padding: 1rem;
    font-size: var(--Font-size-text);

}


.vacancy_home {
    width: 100%;
    height: 1010px;
    background: url("assets/books-break-coffee-927451.jpg") no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 2px solid var(--BG-color);
}


.jobs_home {
    /*  padding: 1rem;*/
    width: 30%;
    height: 400px;
    background: var(--BG-color-2);
    border-radius: var(--Border-radius);
    box-shadow: var(--Box-shadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 4rem;
}

.jobs_vacancy_home {
    color: var(--Font-color);
    /*    width: 100%;*/
    margin: 2rem;
    font-size: var(--Font-size-text);

}

.button {
    width: 300px;
    height: 50px;
    border-radius: var(--Border-radius);
    background-color: var(--Azur-color);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 3rem;
}

button {
    width: 300px;
    height: 50px;
    border-radius: var(--Border-radius);
    background-color: var(--Azur-color);
    border: none;

}

.button_text {
    text-decoration: none;
    font-family: Ubuntu-Regular;
    font-size: var(--Font-size-text);
    color: var(--White-color);
}

button:hover {
    background-color: var(--Orange-color);
}

button:active {
    background-color: var(--Orange-color);
    border: 3px solid var(--Azur-color);
}

h2 {
    font-size: var(--Font-size-2);
    margin: 0 0 1em 0;
}

.contacts {
    width: 100%;
    height: 1010px;
    background: url("assets/Mountains.jpg") no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--BG-color);
}

.contacts_background {
    width: 80%;
    background: var(--BG-color-2);
    border-radius: var(--Border-radius);
    box-shadow: var(--Box-shadow);
    display: flex;
    flex-direction: column;
}

.contacts_info {
    margin: 2rem;
    display: inline-block;
    font-size: var(--Font-size);
}

/*
p{
    display: flex;
    flex-direction: column;
}
*/


@font-face {
    font-family: 'Ubuntu-Regular';
    src: url("../fonts/Ubuntu-Regular.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu-Light';
    src: url("../fonts/Ubuntu-Light.woff");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Ubuntu-Italic';
    src: url('../fonts/Ubuntu-Italic.woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu-Medium';
    src: url('../fonts/Ubuntu-Medium.woff');
    font-weight: 500;
    font-style: normal;
}


/*Burger*/

/*.body {
    margin: 0;
    line-height: 1.4;
    background: #E1E1E1;
}*/

.window {
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    /*margin: 100px auto 0;*/
    box-shadow: 0 0 65px 15px rgba(0, 0, 0, 0.2);
    overflow: visible;
    border-radius: 3px;
    background: #F1F1F1;
}

.window .header {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background: var(--Black-color);
    overflow: visible;
    transition: all 0.5s ease-out, background 1s ease-out;
    transition-delay: 0.2s;
    z-index: 1;
}

.window .header .burger-container {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 50px;
    cursor: pointer;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.window .header .burger-container #burger {
    width: 18px;
    height: 8px;
    position: relative;
    display: block;
    margin: -4px auto 0;
    top: 50%;
}

.window .header .burger-container #burger .bar {
    width: 100%;
    height: 1px;
    display: block;
    position: relative;
    background: #FFF;
    transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition-delay: 0s;
}

.window .header .burger-container #burger .bar.topBar {
    -webkit-transform: translateY(0px) rotate(0deg);
    transform: translateY(0px) rotate(0deg);
}

.window .header .burger-container #burger .bar.btmBar {
    -webkit-transform: translateY(6px) rotate(0deg);
    transform: translateY(6px) rotate(0deg);
}

.window .header .icon {
    display: inline-block;
    position: absolute;
    /*height: 100%;*/
    background: url("assets/lo");
    line-height: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #FFF;
    font-size: 22px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.window .header .icon.icon-bag {
    right: 0;
    top: 0;
    left: auto;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    transition: -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition-delay: 0.65s;
}

.window .header ul.menu {
    position: relative;
    display: block;
    padding: 0px 48px 0;
    list-style: none;
}

.window .header ul.menu li.menu-item {
    border-bottom: 1px solid #333;
    margin-top: 5px;
    -webkit-transform: scale(1.15) translateY(-30px);
    transform: scale(1.15) translateY(-30px);
    opacity: 0;
    transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

.window .header ul.menu li.menu-item:nth-child(1) {
    transition-delay: 0.49s;
}

.window .header ul.menu li.menu-item:nth-child(2) {
    transition-delay: 0.42s;
}

.window .header ul.menu li.menu-item:nth-child(3) {
    transition-delay: 0.35s;
}

.window .header ul.menu li.menu-item:nth-child(4) {
    transition-delay: 0.28s;
}


.window .header ul.menu li.menu-item:last-child {
    border: none;
}

.window .header ul.menu li.menu-item a {
    display: block;
    position: relative;
    color: #FFF;
    font-family: Ubuntu-Light, sans-serif;
    text-decoration: none;
    font-size: 22px;
    line-height: 2.35;
    width: 100%;
}

.window .header.menu-opened {
    display: inline-block;
    height: 300px;
    background-color: #000;
    transition: all 0.2s ease-in, background 0.3s ease-in;
    transition-delay: 0.1s;
}



.window .header.menu-opened .burger-container #burger .bar.topBar {
    -webkit-transform: translateY(4px) rotate(45deg);
    transform: translateY(4px) rotate(45deg);
}
.window .header.menu-opened .burger-container #burger .bar.btmBar {
    -webkit-transform: translateY(3px) rotate(-45deg);
    transform: translateY(3px) rotate(-45deg);
}

.window .header.menu-opened ul.menu li.menu-item {
    -webkit-transform: scale(1) translateY(0px);
    transform: scale(1) translateY(0px);
    opacity: 1;
}

.window .header.menu-opened ul.menu li.menu-item:nth-child(1) {
    transition-delay: 0.27s;
}

.window .header.menu-opened ul.menu li.menu-item:nth-child(2) {
    transition-delay: 0.34s;
}

.window .header.menu-opened ul.menu li.menu-item:nth-child(3) {
    transition-delay: 0.41s;
}

.window .header.menu-opened ul.menu li.menu-item:nth-child(4) {
    transition-delay: 0.48s;
}

.window .header.menu-opened ul.menu li.menu-item:nth-child(5) {
    transition-delay: 0.55s;
}

.window .header.menu-opened ul.menu li.menu-item:nth-child(6) {
    transition-delay: 0.62s;
}

.window .header.menu-opened ul.menu li.menu-item:nth-child(7) {
    transition-delay: 0.69s;
}

.window .header.menu-opened .icon.icon-bag {
    -webkit-transform: translateX(75px);
    transform: translateX(75px);
    transition-delay: 0.3s;
}


@media  (max-width: 500px) {
    .header {
        display: none;
    }

    .window {
        display: block;
    }
}

@media (min-width: 500px) {
    .window {
        display: none;
    }
}